<h1> Available Discounts for My Items </h1>


  <% @merchant.items.each do |item| %>
    <section id="item-<%=item.id%>">
      <b><%= item.name %>:</b></br>
      <% if item.discounts.count == 0 %>
        <p> No Available Discounts </p>
      <% else item.discounts.each do |discount| %>
          <p><%= link_to "#{discount.description}", "/merchant/items/discounts/#{discount.id}" %></p>
      <% end %></br>
      <% end %>
      </section>
  <% end %>

  <%= link_to "Add New Discount", "/merchant/items/discounts/new" %>
